<!DOCTYPE html>

<header class="w3-container w3-teal w3-padding-xlarge">
    <h1>{{course}}</h1>
  <p> next class is Friday March 24th at 02:15pm in R1</p>
</header>

<div class="w3-row">
  <div class="w3-container w3-quarter">
    <div class="w3-container w3-padding-48" >
      <h2>Course material</h2>
      <ul class="w3-ul">
        {{fileButtons}}
      </ul>
    </div> 
        
  </div>
  <div class="w3-container w3-threequarter w3-padding-64">
    <div class= "w3-center"> 
        <embed id="fileViewer" width="100%" height="600pt" type="application/pdf" />
    </div>
  </div>
</div>

{{#if courseAdmin}}  
<h2>Upload new file</h2>
<form ref='uploadForm' 
  id='uploadForm' 
  action='/files/upload' 
  method='post' 
  encType="multipart/form-data">
    <input type="file" name="sampleFile" />
    <input type="hidden" name="course" value={{course}} />
    <input type='submit' value='Upload!' />
</form>

<h2>Create weekly lectures</h2> 
<form ref='courseForm' 
  id='courseForm' 
  action='/lecture/lectures' 
  method='post' 
  encType="multipart/form-data">
    <input type="hidden" name="course" value={{course}} />
	Room number: <input type="text" name="roomNr" /> <br>
	Year: <input type="text" name="year" value="2017"/> <br>
	Start day: <input type="text" name="startDay" /> <br>
	Start month: <input type="text" name="startMonth" /> <br>
	End day: <input type="text" name="endDay" /> <br>
	End month: <input type="text" name="endMonth" /> <br>
	Start time (hh:mm): <input type="text" name="startTime" /><br>
	End time (hh:mm): <input type="text" name="endTime" /><br>
    <input type='submit' value='Create' />
</form>
{{/if}}
  
<script charset="utf-8">
function showFile(filename){
    var fileViewer=document.getElementById("fileViewer");
    var clone=fileViewer.cloneNode(true);
    clone.setAttribute('src',filename);
    fileViewer.parentNode.replaceChild(clone,fileViewer);
}
</script>
